<h2>Tracker</h2>

<ul>
    {{#each sortedBuckets}}
        <li>{{name}} - {{readableName}} - {{priority}}</li>
    {{else}}
        PARSING BUCKETS...
    {{/each}}
</ul>

<ul>
    {{#each sizes}}
        <li>{{name}} - {{readableName}}</li>
    {{else}}
        PARSING SIZES...
    {{/each}}
</ul>

<ul>
    {{#each teams}}
        <li>{{name}} - {{readableName}}</li>
    {{else}}
        PARSING TEAMS...
    {{/each}}
</ul>
